/* 
    Created on : Oct 2, 2016, 11:37:06 AM
    Author     : Gregory
*/
/******** Main Styles ********/
body    {background-color: lightblue;
         text-align: center;
         margin: 10px}
#title {text-align: center}
#content {text-align: center;}
#wrapper{text-align: center; background-color: lightblue;}
#td-R{text-align: right;}

table.center{margin-left: auto; margin-right: auto;}

p {text-align: center;}